/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer > a > i {
  color:black;
  margin:0px 5px 0px 5px;
  float:right;
}

.footer > a:hover > i {
  color:#5bc0de;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Overwriting bootstrap defaults */

nav > ul > li > a {
  color:black;
}

nav > ul > li > a:hover {
  color:black;
}

.text-muted a {
  color:black;
}

.text-muted a:hover {
  color:#5bc0de;
  text-decoration:none;
}

/* Home Page */

.marketing h2{
  text-align:center;
  margin-bottom:45px;
}

.language > h4{
  display:inline-block;
  float:left;
  width:140px;
  margin:0px;
}

.language > .progress{
  margin-bottom:10px;
}

#legend > dd {
  margin-bottom:20px;
}

/* About Page */

#myTabs > li > a > i {
  color:black;
}

#myTabs > li.active > a > i {
  color:#5bc0de;
}

.minimal{
  max-width:20%;
  -webkit-transition: width 0.9s ease-in-out;
  transition: width 0.9s ease-in-out;
}

.basic{
  max-width:40%;
  -webkit-transition: width 0.9s ease-in-out;
  transition: width 0.9s ease-in-out;
}

.experienced{
  max-width:60%;
    -webkit-transition: width 1.1s ease-in-out;
  transition: width 1.1s ease-in-out;
}

.proficient{
  max-width:80%;
    -webkit-transition: width 1.3s ease-in-out;
  transition: width 1.3s ease-in-out;
}

.expert{
  max-width:100%;
    -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

/* Portfolio Page */

#portfolio > img {
  float:left;
  width:48%;
  margin:1% 1% 1% 1%;
  box-shadow: 3px 3px 5px #888888;
  display:none;
}

#portfolio > img:hover {
  cursor:pointer;
}

/* Sandbox Page */

.slide {
  width:100%;
  height:400px;
  background-size:100% 400px;
}

.coder {
  background-image:url(images/sandbox/coder.jpg);
}

.cat {
  background-image:url(images/sandbox/cat.jpg);
}

.dog {
  background-image:url(images/sandbox/dog.jpg);
}

#fadingCarousel {
  overflow: hidden;
  position: relative;
  height: 400px;
}

#fadingCarousel > .slide{
  position:absolute;
  display:none;
}

#fadingCarousel > .slide:first-child{
  display:block;
}


#fadingCarousel > button {
  border-color:#5bc0de;
  border-width:4px;
  position:absolute;
  width:35px;
  height:35px;
  border-radius:50%;
  background-color:rgba(0,0,0,0);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

#fadingCarousel > button:hover{
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-color:rgb(55, 255, 149);
}

#fadingCarousel > button:disabled {
  opacity:0.3;
}

#fadingCarousel > button.next {
  top:50%;
  left:90%;
}
#fadingCarousel > button.previous {
  top:50%;
  left:calc(10% - 35px);
  float:left;
}








