/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer > a > i {
  color:black;
  margin:0px 5px 0px 5px;
  float:right;
}

.footer > a:hover > i {
  color:#5bc0de;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Overwriting bootstrap defaults */

nav > ul > li > a {
  color:black;
}

nav > ul > li > a:hover {
  color:black;
}

.text-muted a {
  color:black;
}

.text-muted a:hover {
  color:#5bc0de;
  text-decoration:none;
}

/* Home Page */

.language > h4{
  display:inline-block;
  float:left;
  width:140px;
  margin:0px;
}

.language > .progress{
  margin-bottom:10px;
}

.progress-bar {
  -webkit-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
  min-width:3em;
}

/* About Page */

#myTabs > li > a > i {
  color:black;
}

#myTabs > li.active > a > i {
  color:#5bc0de;
}

/* Portfolio Page */

#portfolio > img {
  float:left;
  width:48%;
  margin:1% 1% 1% 1%;
  box-shadow: 3px 3px 5px #888888;
  opacity:0;
}

@keyframes seq { 100% { opacity: 1; } }
#portfolio > img { animation: seq .5s forwards; }
#portfolio > img:nth-child(1) { animation-delay: .75s; }
#portfolio > img:nth-child(2) { animation-delay: 1s; }
#portfolio > img:nth-child(3) { animation-delay: 1.25s; }
#portfolio > img:nth-child(4) { animation-delay: 1.5s; }
#portfolio > img:nth-child(5) { animation-delay: 1.75s; }
#portfolio > img:nth-child(6) { animation-delay: 2s; }
#portfolio > img:nth-child(7) { animation-delay: 2.25s; }
#portfolio > img:nth-child(8) { animation-delay: 2.5s; }
#portfolio > img:nth-child(9) { animation-delay: 2.75s; }
#portfolio > img:nth-child(10) { animation-delay: 3s; }
#portfolio > img:nth-child(11) { animation-delay: 3.25s; }
#portfolio > img:nth-child(12) { animation-delay: 3.5s; }
#portfolio > img:nth-child(13) { animation-delay: 3.75s; }
#portfolio > img:nth-child(14) { animation-delay: 4s; }
#portfolio > img:nth-child(15) { animation-delay: 4.25s; }











