h3 {
  margin: 0;
}

.post-list > li {
  margin-bottom: 10px;
}

.post-link {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.70px;
  color: #383838;
}

.post-link:visited {
  color: #383838;
}

.post-meta-small {
  font-size: 12px;
}

.post-meta-large {
  font-size: 18px;
}

.site-title{
  font-size: 25pt;
  font-weight: 400;
}
.page-content {
  background: #f4faff;
}

.footer-description {
  font-size: 12pt;
  line-height: 1.4; 
  font-family: 'Quattrocento', serif;
}

p {
  font-size: 14pt;
  line-height: 2;
  font-family: 'PT Serif', serif;
}

